body {
    background: no-repeat center/75% url(nt-logo.png);
    background-color: #262626;
    width: 100%;
    height: 100vh;
}

#uiWrapper {
    background-color: #262626;
    padding-top: 30px;
    width: 100%;
    height: 100vh;
    -ms-user-select: none;
    user-select: none;
}

#uiTitleWrapper {
    position: relative;
    height: 30px;
    background-color: #353535;
    border-bottom: 1px solid #141414;
}

#uiTitleText {
    position: absolute;
    top: 6px;
    left: 44px;
    width: 66%;
    overflow: hidden;
    color: #eaeaea;
    font-size: 16px;
}

#uiTitle.icon {
    padding: 6px 8px 6px 42px;
    background-position: 2px 50%;
    background-repeat: no-repeat;
}

#uiStatusIcon {
    position: absolute;
    top: 4px;
    left: 12px;
    width: 24px;
    height: 24px;
}

#uiMapWrapper {
    clear: both;
    padding: 8px;
}

#uiMapHeader {
    position: relative;
    clear: both;
}

#uiMapContainer {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    border: 1px solid #40628a;
    background: url(nanomapBackground.png);
}

#uiMap {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -512px 0 0 -512px;
    width: 256px;
    height: 256px;
    overflow: hidden;
    zoom: 4;
}

#uiMapImage {
    position: absolute;
    bottom: 1px;
    left: 1px;
    width: 256px;
    height: 256px;
}

#uiMapContent {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 256px;
    height: 256px;
}

#uiMapFooter {
    position: relative;
    clear: both;
}

#uiContent {
    clear: both;
    padding: 8px;
}

#uiMapTooltip {
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid #40628a;
    background-color: #272727;
    padding: 8px;
    display: none;
    z-index: 9999;
}

#uiLoadingNotice {
    position: relative;
    background: url(uiNoticeBackground.jpg) 50% 50%;
    color: #000000;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    padding: 3px 4px 3px 4px;
    margin: 4px 0 4px 0;
}

#computerButtons {
    height: 30px;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
