.link, .linkOn, .linkOff, .selected, .disabled, .yellowButton, .redButton, a, .zoomLink, .linkActive {
    border: none;
    border-radius: 0.16em;
    transition: 0.2s;
    padding: 0 4px 4px 4px;
}

a, .zoomLink, .linkActive {
    float: left;
    min-width: 15px;
    min-height: 16px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    margin: 0 2px 2px 0;
    cursor: default;
    background: #4972a1;
}

.linkDanger, a.linkDanger:link, a.linkDanger:visited, a.linkDanger:active {
    background-color: #db2828;
}

.linkDanger:hover {
    background-color: #e04747;
}

a.linkDanger:hover {
    background-color: #e04747;
}

.redButton:hover {
    background: #ff6666;
}

.yellowButton:hover {
    background: #f7d515;
}

.itemLabelNarrow, .itemLabel, .itemLabelWide, .itemLabelWider, .itemLabelWidest {
    color: #aaa;
}

.linkOn, .linkOn:link, .linkOn:visited, .linkOn:active, .linkOn:hover, .selected, .selected:link, .selected:visited, .selected:active, .selected:hover {
    background: #2f943c;
}

.linkOff, .linkOff:link, .linkOff:visited, .linkOff:active, .linkOff:hover, .disabled, .disabled:link, .disabled:visited, .disabled:active, .disabled:hover {
    background: #999999;
}

.linkDanger, .linkDanger:link, .linkDanger:visited, .linkDanger:active {
    background-color: #db2828;
}

.redButton {
    background: #db2828;
}

.yellowButton {
    background: #f7d515;
}

.greenButton {
    background: #f7d515;
}

.displayBar {
    height: 21px;
    border: none;
    border-radius: 0.16em;
}


#sciTechTreeContainer {
    position: relative;
    width: 99%;
    height: 590px;
    overflow: hidden;
    border: 1px solid #40628a;
    background: url(nanomapBackground.png);
}

.sciTechTreeIcon {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url(science.png);
    background-position: -0px -0px;
    background-repeat: no-repeat;
    zoom: 1;
    margin-left: 0px;
	margin-bottom: -16px;
    /*margin-bottom: -1px;*/
}

.sciTechTreeIconBox {
    width: 32px;
    height: 32px;
}

.sciTechResearched {
	background: #2f943c;
}

.sciTechResearched:hover {
    background: #3fB44c;
}

.sciTechCantResearch {
	background: #942f3c;
}

.sciTechCantResearch:hover {
    background: #B43f4c;
}

.sciTechSelected {
	background: #3333cc;
}

.sciTechSelected:hover {
    background: #3333cf;
}

.sciTechTreeIcon.icon-teleport { background-position: 0px 0px; }
.sciTechTreeIcon.icon-adv_mass_spec { background-position: -32px 0px; }
.sciTechTreeIcon.icon-cell { background-position: -64px 0px; }
.sciTechTreeIcon.icon-wrench { background-position: -96px 0px; }
.sciTechTreeIcon.icon-drill { background-position: -128px 0px; }
.sciTechTreeIcon.icon-monitoring { background-position: -160px 0px; }
.sciTechTreeIcon.icon-rd { background-position: -192px 0px; }
.sciTechTreeIcon.icon-telecom_part { background-position: -224px 0px; }

.sciTechTreeIcon.icon-spaceheater { background-position: 0px -32px; }
.sciTechTreeIcon.icon-hypo { background-position: -32px -32px; }
.sciTechTreeIcon.icon-smelter { background-position: -64px -32px; }
.sciTechTreeIcon.icon-circuit { background-position: -96px -32px; }
.sciTechTreeIcon.icon-pickaxe { background-position: -128px -32px; }
.sciTechTreeIcon.icon-cutter { background-position: -160px -32px; }
.sciTechTreeIcon.icon-advmatterbin { background-position: -192px -32px; }
.sciTechTreeIcon.icon-supermatterbin { background-position: -224px -32px; }

.sciTechTreeIcon.icon-anom { background-position: 0px -64px; }
.sciTechTreeIcon.icon-rped { background-position: -32px -64px; }
.sciTechTreeIcon.icon-jawsoflife { background-position: -64px -64px; }
.sciTechTreeIcon.icon-healthanalyzer { background-position: -96px -64px; }
.sciTechTreeIcon.icon-hydroponics { background-position: -128px -64px; }
.sciTechTreeIcon.icon-microwave { background-position: -160px -64px; }
.sciTechTreeIcon.icon-processor { background-position: -192px -64px; }
.sciTechTreeIcon.icon-operationcomputer { background-position: -224px -64px; }

.sciTechTreeIcon.icon-add_sec_eq { background-position: 0px -96px; }
.sciTechTreeIcon.icon-sleeper { background-position: -32px -96px; }
.sciTechTreeIcon.icon-medhud { background-position: -64px -96px; }
.sciTechTreeIcon.icon-mechsleeper { background-position: -96px -96px; }
.sciTechTreeIcon.icon-gps { background-position: -128px -96px; }
.sciTechTreeIcon.icon-rapidsyringegun { background-position: -160px -96px; }
.sciTechTreeIcon.icon-scalpelmanager { background-position: -192px -96px; }
.sciTechTreeIcon.icon-stunbaton { background-position: -224px -96px; }

.sciTechTreeIcon.icon-seccomputer { background-position: 0px -128px; }
.sciTechTreeIcon.icon-shock { background-position: -32px -128px; }
.sciTechTreeIcon.icon-riotgun { background-position: -64px -128px; }
.sciTechTreeIcon.icon-laser { background-position: -96px -128px; }
.sciTechTreeIcon.icon-bullpup { background-position: -128px -128px; }
.sciTechTreeIcon.icon-telepad { background-position: -160px -128px; }
.sciTechTreeIcon.icon-emiammo { background-position: -192px -128px; }
.sciTechTreeIcon.icon-wt550 { background-position: -224px -128px; }

.sciTechTreeIcon.icon-relay { background-position: 0px -160px; }
.sciTechTreeIcon.icon-subspace { background-position: -32px -160px; }
.sciTechTreeIcon.icon-batteryrack { background-position: -64px -160px; }
.sciTechTreeIcon.icon-solarcontrol { background-position: -96px -160px; }
.sciTechTreeIcon.icon-generator { background-position: -128px -160px; }
.sciTechTreeIcon.icon-solnet_relay { background-position: -160px -160px; }
.sciTechTreeIcon.icon-smes { background-position: -192px -160px; }
.sciTechTreeIcon.icon-implant { background-position: -224px -160px; }

.sciTechTreeIcon.icon-icupgradv { background-position: 0px -192px; }
.sciTechTreeIcon.icon-communications { background-position: -32px -192px; }
.sciTechTreeIcon.icon-icprinter { background-position: -64px -192px; }
.sciTechTreeIcon.icon-rfid { background-position: -96px -192px; }
.sciTechTreeIcon.icon-icupclo { background-position: -128px -192px; }
.sciTechTreeIcon.icon-pcpu { background-position: -160px -192px; }
.sciTechTreeIcon.icon-pcpu_small { background-position: -192px -192px; }
.sciTechTreeIcon.icon-cpu_small { background-position: -224px -192px; }

.sciTechTreeIcon.icon-diamond_drill { background-position: 0px -224px; }
.sciTechTreeIcon.icon-nanoprinter { background-position: -32px -224px; }
.sciTechTreeIcon.icon-netcard_adv { background-position: -64px -224px; }
.sciTechTreeIcon.icon-netcard_w { background-position: -96px -224px; }
.sciTechTreeIcon.icon-cpu { background-position: -128px -224px; }
.sciTechTreeIcon.icon-tablet_frame { background-position: -160px -224px; }
.sciTechTreeIcon.icon-blue_beaker { background-position: -192px -224px; }
.sciTechTreeIcon.icon-brace { background-position: -224px -224px; }

.sciTechTreeIcon.icon-tesla_link { background-position: 0px -256px; }
.sciTechTreeIcon.icon-modular_bat_advanced { background-position: -32px -256px; }
.sciTechTreeIcon.icon-modular_bat_super { background-position: -64px -256px; }
.sciTechTreeIcon.icon-modular_bat_ultra { background-position: -96px -256px; }
.sciTechTreeIcon.icon-modular_bat_micro { background-position: -128px -256px; }
.sciTechTreeIcon.icon-smg { background-position: -160px -256px; }
.sciTechTreeIcon.icon-adflash { background-position: -192px -256px; }
.sciTechTreeIcon.icon-hdd512 { background-position: -224px -256px; }

.sciTechTreeIcon.icon-decloner { background-position: 0px -288px; }
.sciTechTreeIcon.icon-fusion { background-position: -32px -288px; }
.sciTechTreeIcon.icon-chemdisp { background-position: -64px -288px; }
.sciTechTreeIcon.icon-mechlaser { background-position: -96px -288px; }
.sciTechTreeIcon.icon-mechclaw { background-position: -128px -288px; }
.sciTechTreeIcon.icon-hdd2048 { background-position: -160px -288px; }
.sciTechTreeIcon.icon-hdd256 { background-position: -192px -288px; }
.sciTechTreeIcon.icon-hdd64 { background-position: -224px -288px; }

.sciTechTreeIcon.icon-shieldgen { background-position: 0px -320px; }
.sciTechTreeIcon.icon-mechheavy { background-position: -32px -320px; }
.sciTechTreeIcon.icon-mechcombat { background-position: -64px -320px; }
.sciTechTreeIcon.icon-ai { background-position: -96px -320px; }
.sciTechTreeIcon.icon-gene { background-position: -128px -320px; }
.sciTechTreeIcon.icon-box { background-position: -160px -320px; }
.sciTechTreeIcon.icon-implantcase { background-position: -192px -320px; }
.sciTechTreeIcon.icon-aicircuit { background-position: -224px -320px; }

.sciTechTreeIcon.icon-multitool { background-position: 0px -352px; }
.sciTechTreeIcon.icon-posibrain { background-position: -32px -352px; }
.sciTechTreeIcon.icon-bug { background-position: -64px -352px; }
.sciTechTreeIcon.icon-kit { background-position: -96px -352px; }
.sciTechTreeIcon.icon-radiokey { background-position: -128px -352px; }
.sciTechTreeIcon.icon-hardsuitmodule { background-position: -160px -352px; }
.sciTechTreeIcon.icon-bluespace { background-position: -192px -352px; }
.sciTechTreeIcon.icon-roboscanner { background-position: -224px -352px; }

.sciTechTreeIcon.icon-bscrystal { background-position: 0px -384px; }
.sciTechTreeIcon.icon-nav { background-position: -32px -384px; }
.sciTechTreeIcon.icon-pump { background-position: -64px -384px; }
.sciTechTreeIcon.icon-eva { background-position: -96px -384px; }
.sciTechTreeIcon.icon-mechloader { background-position: -128px -384px; }
.sciTechTreeIcon.icon-mechlight { background-position: -160px -384px; }

.sciMenuButton {
    width: 300px;
    float: left;

.candystripe {
	background-color: transparent;
}
.candystripe:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.20);
}

.section {
    width: 100%;
    margin-bottom: 0.5em;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.33);
}

.section-content {
    padding: 0.66em 0.5em;
}

.section-title {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: white;
    font-weight: bold;
    padding: 0.5em;
    border-bottom: 2px solid #4972a1;
}

.section-buttons {
    display: flex;
    font-size: 12px;
}

.labelList {
    width: 100%;
}

.labelList-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
}

.labelList-item-label {
    color: #7e90a7;
}

.table-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;

}
