<div class="fabResSection">
	<div class="fabResTitle">Ёмкость</div>
	<div class="fabResContent">
	{{if data.container}}
		{{for data.reagents}}
			<div class="fabResItem">
				<span class="fabResName">{{:value.name}}</span>
				<span class="fabResAmount">{{:Math.round(value.amount * 100) / 100}}</span>
			</div>
		{{empty}}
			<div style="padding: 6px; text-align: center;" class="fabMuted">Пусто</div>
		{{/for}}
		<div class="fabResActions">
			{{:helper.link('Извлечь', 'eject', {'container' : 1})}}
		</div>
	{{else}}
		<div style="padding: 6px; text-align: center;" class="fabMuted">Не вставлена</div>
		<div class="fabResActions">
			{{:helper.link('Вставить', 'eject', {'container' : 1})}}
		</div>
	{{/if}}
	</div>
</div>
