<div class="fabResSection">
	<div class="fabResTitle">Материалы</div>
	<div class="fabResContent">
	{{for data.materials}}
		<div class="fabResItem">
			<span class="fabResName">{{:value.name.toTitleCase()}}</span>
			<span class="fabResAmount">{{:Math.round(value.amount * 100) / 100}}/{{:data.mat_capacity}}</span>
			<span>{{:helper.link('', 'eject', {'eject_material' : value.id})}}</span>
		</div>
	{{empty}}
		<div style="padding: 6px; text-align: center;" class="fabMuted">Нет материалов</div>
	{{/for}}
		<div class="fabResActions">
			{{:helper.link('Переработка', 'refresh', {'insert' : 1})}}
		</div>
	</div>
</div>
