<div class="fabQueueSection">
	<div class="fabQueueTitle">
		<span>Очередь</span>
		<div class="fabQueueControls">
			{{:helper.link('', data.paused ? 'play' : 'pause', {'pause' : 1})}}
			{{if data.current}}
				{{:helper.link('', 'close', {'abort_print' : 1})}}
			{{/if}}
		</div>
	</div>
	<div class="fabQueueContent">
		{{if data.current}}
		<div class="fabCurrentPrint">
			<div class="fabCurrentHeader">
				<div class="fabCurrentIcon">
					<img src={{:data.current.icon}} height=36 width=36>
				</div>
				<div class="fabCurrentInfo">
					<div class="fabCurrentName">{{:data.current.name}}</div>
					{{if data.current.point_cost > 0}}
						{{if !data.disk}}
							<span class="fabDesignLicense {{:data.use_license ? 'fabDesignLicense--bad' : 'fabDesignLicense--ok'}}" style="font-size: 10px;">{{:data.current.point_cost}} LP</span>
						{{else}}
							<span class="fabDesignLicense {{:data.disk.license >= data.current.point_cost ? 'fabDesignLicense--ok' : 'fabDesignLicense--bad'}}" style="font-size: 10px;">{{:data.current.point_cost}} LP</span>
						{{/if}}
					{{/if}}
				</div>
			</div>
			<div class="fabCurrentProgress">
				{{if data.error}}
					<div class="bad">{{:data.error}}</div>
				{{else}}
					{{:helper.displayBar(data.progress / data.current.time, 0, 1, 'good', Math.round((data.progress / data.current.time) * 100) + "%")}}
				{{/if}}
			</div>
			{{if data.current.materials || data.current.chemicals}}
			<div class="fabCurrentDetails">
				{{if data.current.materials}}
					{{for data.current.materials :material:material_i}}
						{{material.amount = data.current.adjust_materials ? Math.round((material.req * data.mat_efficiency) * 100) / 100 : material.req;}}
						{{:material.name}}: {{:material.amount}}{{:material_i < data.current.materials.length - 1 ? ' | ' : ''}}
					{{/for}}
				{{/if}}
				{{if data.current.chemicals}}
					{{if data.current.materials}} | {{/if}}
					{{for data.current.chemicals :chemical:chemical_i}}
						{{:chemical.name}}: {{:Math.round(chemical.req * 100) / 100}}{{:chemical_i < data.current.chemicals.length - 1 ? ' | ' : ''}}
					{{/for}}
				{{/if}}
			</div>
			{{/if}}
		</div>
		{{else}}
			<div class="fabIdleState">&#9679; Простой</div>
		{{/if}}

		{{if data.queue_max}}
			<div class="fabQueueList">
				<div style="padding: 2px 4px; display: flex; justify-content: space-between;">
					<span class="fabQueueCounter">ОЧЕРЕДЬ</span>
					<span class="fabQueueCounter">{{:data.queue.length}}/{{:data.queue_max}}</span>
				</div>
				{{for data.queue}}
					<div class="fabQueueItem">
						<div class="fabQueueItemIcon">
							<img src={{:value.icon}} height=20 width=20>
						</div>
						<div class="fabQueueItemName {{:value.error >= 2 ? 'bad' : (value.error == 1 ? 'average' : '')}}">
							{{:value.name}}
						</div>
						<div class="fabQueueItemActions">
							{{if value.ind > 1}}
								{{:helper.link('', 'triangle-1-n', {'move_up_queue' : value.ind})}}
							{{/if}}
							{{if value.ind < data.queue_len}}
								{{:helper.link('', 'triangle-1-s', {'move_down_queue' : value.ind})}}
							{{/if}}
							{{:helper.link('', 'close', {'remove_from_queue' : value.ind})}}
						</div>
					</div>
				{{empty}}
					<div class="fabQueueEmpty">Пусто</div>
				{{/for}}
			</div>
		{{/if}}
	</div>
</div>
